<main class="main">

    <!-- Page Title -->
    <div class="page-title position-relative" data-aos="fade">
        <!-- Ảnh nền -->
        <img src="@Url.Content("~/images/202410/anhnenthanhvien.jpg")" class="img-fluid w-100" alt="Thành viên" style="height: 50vh; object-fit: cover;">

        <!-- Phần chữ nằm trên ảnh -->
        <div class="heading position-absolute top-50 start-50 translate-middle text-center text-white" style="z-index: 1;">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12">
                        <h1>THÀNH VIÊN</h1>
                        <p class="mb-0">Our team consists of three dedicated members. Nguyễn Hữu Đức brings strong technical expertise and problem-solving skills, making him an essential part of our team. Phạm Quỳnh Trang is highly organized and excels in managing tasks and communication, ensuring smooth teamwork and efficient project progression. Nguyễn Thị Thùy Dung contributes with her creativity and attention to detail, playing a key role in designing and refining our work. Together, we are committed to achieving our goals with excellence and collaboration.</p>
                    </div>
                </div>
            </div>
        </div>

        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="@Url.Action("Index", "Home")" class="fw-bold fs-5">Trang chủ</a></li>
                    <li><a href="@Url.Action("Thanhvien", "Home")" class="fw-bold fs-5">Thành viên</a></li>
                </ol>
            </div>
        </nav>
    </div>
    <!-- Trainers Section -->
    <section id="trainers" class="section trainers">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
                <img src="@Url.Content("~/images/202410/anhduc.jpg")" class="img-fluid" alt="...">
              <div class="social">
                <a href="#"><i class="bi bi-twitter-x"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Nguyễn Hữu Đức</h4>
              <span>Giáo viên</span>
              <p>Aliquam iure quaerat voluptatem praesentium possimus unde laudantium vel dolorum distinctio dire flow</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="@Url.Content("~/images/202410/anhtrang1.jpg")" class="img-fluid" alt="...">
              <div class="social">
                <a href="#"><i class="bi bi-twitter-x"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Phạm Quỳnh Trang</h4>
              <span>Giáo viên</span>
              <p>Labore ipsam sit consequatur exercitationem rerum laboriosam laudantium aut quod dolores exercitationem ut</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="@Url.Content("~/images/202410/anhdung1.jpg")" class="img-fluid" alt="...">
              <div class="social">
                <a href="#"><i class="bi bi-twitter-x"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Nguyễn Thị Thùy Dung</h4>
              <span>Giáo viên</span>
              <p>Illum minima ea autem doloremque ipsum quidem quas aspernatur modi ut praesentium vel tque sed facilis at qui</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter-x"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
        </div>

      </div>

    </section><!-- /Trainers Section -->

  </main>
