  <main class="main">
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Events</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="@Url.Action("Index", "Home")" class="fw-bold fs-5">Trang chủ</a></li>
            <li><a href="@Url.Action("Khoahoc", "Home")" class="fw-bold fs-5">Khóa học</a></li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Events Section -->
    <section id="events" class="events section">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="@Url.Content("~/images/202410/65nam.jpg")" class="img-fluid" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Kế hoạch tổ chức kỷ niệm 65 năm thành lập Trường Đại học Vinh (1959 - 2024) và 42 năm ngày Nhà giáo Việt Nam (20/11/1982 - 20/11/2024)</a></h5>
                <p class="fst-italic text-center">Thứ sáu, 20:16 25/10/2024</p>
                <p class="card-text" style="margin: 0;">1. Ôn lại chặng đường 65 năm xây dựng và phát triển của Nhà trường; khẳng định những thành tựu to lớn của Nhà trường từ khi thành lập đến nay, đặc biệt là trong thời kỳ đổi mới.<br>
                2. Tri ân những nỗ lực, đóng góp của các thế hệ cán bộ quản lý, viên chức, giảng viên, giáo viên và người học trong sự nghiệp phát triển giáo dục và đào tạo, xây dựng và phát triển Nhà trường; rút ra những bài học kinh nghiệm, các giải pháp; khơi
                dậy tinh thần đoàn kết, thống nhất, quyết tâm xây dựng và phát triển Trường Đại học
                Vinh thành Đại học Vinh, "tập trung đầu tư, phát triển trở thành trung tâm đào tạo uy tín
                trong khu vực và thế giới" theo tinh thần Nghị quyết số 39-NQ/TW về "Xây dựng, phát
                triển Nghệ An đến năm 2030, tầm nhìn đến năm 2045" của Bộ Chính trị và Nghị quyết
                số 162/NQ-CP của Chính phủ ban hành Chương trình hành động của Chính phủ thực
                hiện Nghị quyết số 39-NQ/TW.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="@Url.Content("~/images/202410/muadong.jpg")" class="img-fluid" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Về việc thực hiện giờ làm việc mùa đông năm 2024</a></h5>
                <p class="fst-italic text-center">Thứ năm, 11:06 10/10/2024</p>
                <p class="card-text">Nhà trường quyết định chuyển thực hiện giờ làm việc mùa đông từ ngày 14/10/2024 đến ngày 13/4/2025, cụ thể:<br>
                                      I. LỊCH LÀM VIỆC<br>
                                      1. Đại học hệ chính quy, sau đại học. Thực hiện theo lịch giảng dạy, thời khóa biểu của Nhà trường.<br>
                                      Buổi sáng: Từ 7 giờ 00' đến 11 giờ 30'.<br>
                                      Buổi chiều: Từ 13 giờ 00' đến 17 giờ 30'.<br>
                                      2. Trường THPT Chuyên; bậc THPT và bậc THCS của Trường Tiểu học, THCS và THPT Thực hành Sư phạm. Thực hiện theo lịch giảng dạy, thời khóa biểu của các Nhà trường.<br>
                                      Buổi sáng: Từ 7 giờ 00' đến 11 giờ 15'.<br>
                                      Buổi chiều: Học tập, sinh hoạt theo lịch do Trường THPT Chuyên và Trường Tiểu học, THCS và THPT Thực hành Sư phạm bố trí.<br></p>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="@Url.Content("~/images/202410/HDSD.png")" class="img-fluid" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Đại học thông minh</a></h5>
                <p class="fst-italic text-center">Ngày 23 tháng 01 năm 2017, Hiệu trưởng đã ký Quyết định số 62/QĐ-ĐHV ban hành Quy hoạch tổng thể hệ thống thông tin quản lý Trường Đại học Vinh.</p>
                <p class="card-text">Ngày 23 tháng 01 năm 2017, Hiệu trưởng đã ký Quyết định số 62/QĐ-ĐHV ban hành Quy hoạch tổng thể hệ thống thông tin quản lý Trường Đại học Vinh. Mục tiêu của đề án là xây dựng Đại học thông minh, thực hiện công tác cải cách hành chính và chuyển đổi số trong các hoạt động của Nhà trường.
Đến nay, nhiều phân hệ phần mềm đã được hoàn thành và đưa vào sử dụng: Cổng thông tin cán bộ, Cổng thông tin sinh viên, Quản lý đào tạo, Quản lý cơ sở tài nguyên, Quản lý công lệnh điện tử,....</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="@Url.Content("~/images/202410/Tm.png")" class="img-fluid" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Hoàn thiện Thuyết minh đề tài KHCN cấp Bộ năm 2025</a></h5>
                <p class="fst-italic text-center">Ngày 06 tháng 8 năm 2024 </p>
                <p class="card-text">Thực hiện Công văn số 4080/BGDĐT-KHCNMT ngày 06 tháng 8 năm 2024 của Bộ Giáo dục và Đào tạo về việc hoàn thiện Thuyết minh đề tài khoa học và công nghệ cấp Bộ năm 2025, Nhà trường thông báo và yêu cầu các cá nhân trúng tuyển chủ trì thực hiện đề tài khoa học và công nghệ cấp Bộ năm 2025 (của Bộ Giáo dục và Đào tạo), các đơn vị liên quan thực hiện các nội dung sau:<br>
1. Chủ nhiệm đề tài<br>
Chủ nhiệm đề tài căn cứ Biên bản họp của Hội đồng thẩm định nội dung, kinh phí; các Quyết định số 1722/QĐ-BGDĐT, 1723/QĐ-BGDĐT, 1725/QĐ-BGDĐT ngày 26/6/2024 của Bộ trưởng Bộ Giáo dục và Đào tạo; các quy định tại Thông tư số 11/2016/TT-BGDĐT ngày 11/4/2016 ban hành Quy định về quản lý đề tài khoa học và công nghệ cấp Bộ của Bộ Giáo dục và Đào tạo; các quy định về tài chính hiện hành; văn bản hướng dẫn của Bộ Giáo dục và Đào tạo để chỉnh sửa, bồ sung, hoàn thiện hồ sơ thuyết minh đề tài.<br></p>
              </div>
            </div>

          </div>
        </div>

      </div>

    </section>
  </main>